.calendar {
  margin-top: 3rem;
  position: relative;

  &-datetime {
    &-button {
      z-index: 20;
      color: white;
      &::selection {
        color: none;
        background: none;
      }

      &-prev {
        position: absolute;
        left: 30rem;
        color: white;
        font-size: 7rem;
        cursor: pointer;
      }

      &-next {
        position: absolute;
        color: white;
        right: 30rem;
        font-size: 7rem;
        cursor: pointer;
      }
    }
  }

  &-table {
    z-index: 1;
    position: absolute;
    top: 15rem;
    left: 0;
  }

  &-day {
    z-index: 2;
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-left: 3rem;
    margin-top: 1rem;
    border: solid white 1px;
    border-radius: 100px;
    transition: all 0.3s;

    &-link {
      color: white;
    }

    &:hover .days-num {
      background-color: $white;
      color: $black;
    }
  }

  &-navi {
    // z-index: 12;
    // width: 30rem;
    font-size: 7rem;
    margin: 0 auto;
    text-align: center;
    color: $white;
    cursor: pointer;
    position: relative;
  }

  &-label {
    padding: 1rem;
    &:hover {
      background-color: $light-grey;
    }
    &::selection {
      color: none;
      background: none;
    }
  }

  &-month {
    z-index: 10;
    margin: 5rem auto 0 42rem;
    text-align: center;
    border: solid white 1px;
    position: absolute;
    color: $white;
    font-size: 4rem;
    width: 15rem;
    height: 45rem;
    cursor: pointer;

    & tbody tr > * {
      width: 20rem;
      padding: 0.5rem;
    }

    & tbody tr > *:hover {
      text-decoration: underline;
    }
  }

  &-select {
    cursor: pointer;
    z-index: 10;
    text-align: center;
    border: solid white 1px;
    position: absolute;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    color: $white;
    &::selection {
      color: none;
      background: none;
    }

    &-span {
      padding: 0.5rem;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    &::selection {
      color: none;
      background: none;
    }
  }

  &-year {
    z-index: 10;
    margin: 5rem auto 0 65rem;
    text-align: center;
    border: solid white 1px;
    position: absolute;
    color: $white;
    font-size: 4rem;
    width: 15rem;
    height: 45rem;
    cursor: pointer;

    & tbody tr > * {
      width: 20rem;
      padding: 0.5rem;
    }

    & tbody tr > *:hover {
      text-decoration: underline;
    }
  }

  &-select {
    cursor: pointer;
    z-index: 10;
    text-align: center;
    border: solid white 1px;
    position: absolute;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    color: $white;

    &-span {
      padding: 0.5rem;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }

  .empty {
    width: 10rem;
    height: 10rem;
    border: solid white 1px;
  }

  .week-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $black;
  }

  .week-day {
    position: relative;
    background-color: $white;
    border: solid white 1px;
    width: 10rem;
    height: 10rem;
    margin-left: 3rem;

    &-num {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      margin-top: 2rem;
    }
  }

  .days {
    margin-top: 3rem;
    margin-left: 22.5rem;
    display: flex;
    flex-wrap: wrap;
    color: $white;
    width: 75%;

    &-num {
      cursor: pointer;
      z-index: 1;
      border: solid $white 1px;
      width: 100%;
      height: 100%;
      font-size: 3rem;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
  }

  .today > .day-num {
    text-decoration: underline;
  }
}
