.calendar-date {
  color: white;
  height: 50px;
  width: 350px;
  text-align: center;
  font-size: 20px;
  border: solid white 1px;
}

.calendar-time {
  color: white;
  height: 50px;
  width: 350px;
  text-align: center;
  font-size: 20px;
  border: solid white 1px;
  margin-top: 20px;
}

.calendarForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

input[type="date"] i {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.date-prompt {
  color: white;
  text-align: center;
  margin-top: 100px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-datetime-edit-month-field{
  text-transform: uppercase;
}

::-webkit-datetime-edit-day-field{
  text-transform: uppercase;
}

::-webkit-datetime-edit-year-field{
  text-transform: uppercase;
}

.next {
  width: 90px;
  height: 40px;
  margin-top: 10px;
  color: white;
  border: solid white 1px;

  &:hover{
    background-color: lightgrey;
    color: black;
  }
}